In [1]:
#Task1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)
import numpy as np
import pandas as pd
np.random.seed(30)
data = np.random.rand(4, 4) 
data[data < 0.5] = np.nan
df = pd.DataFrame(data, columns=['Col1', 'Col2', 'Col3', 'Col4'])
print(df)

       Col1      Col2      Col3      Col4
0  0.644144       NaN  0.663048       NaN
1  0.962608       NaN  0.991751       NaN
2  0.585694       NaN       NaN  0.544136
3  0.518176  0.766855  0.933850       NaN

In [2]:
#Task2  Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'
df = df.rename(columns={
    'Col1': 'Random value 1',
    'Col2': 'Random value 2',
    'Col3': 'Random value 3',
    'Col4': 'Random value 4'
})
print(df)

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.644144             NaN        0.663048             NaN
1        0.962608             NaN        0.991751             NaN
2        0.585694             NaN             NaN        0.544136
3        0.518176        0.766855        0.933850             NaN

In [3]:
#Task3  Find the descriptive statistics of the 'df' dataframe.
descriptive_stats = df.describe()
print(descriptive_stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        1.000000        3.000000        1.000000
mean         0.677655        0.766855        0.862883        0.544136
std          0.196817             NaN        0.175467             NaN
min          0.518176        0.766855        0.663048        0.544136
25%          0.568815        0.766855        0.798449        0.544136
50%          0.614919        0.766855        0.933850        0.544136
75%          0.723760        0.766855        0.962801        0.544136
max          0.962608        0.766855        0.991751        0.544136

In [4]:
#Task4  Check for the null values in 'df' and find the data type of the columns.
null_values = df.isnull().sum()
print("Null Values:\n", null_values)
data_types = df.dtypes
print("\nData Types:", data_types)

Null Values:
 Random value 1    0
Random value 2    3
Random value 3    1
Random value 4    3
dtype: int64

Data Types: Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

In [5]:
#Task5  Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.
# Using location method
random_value_2_loc = df.loc[:, 'Random value 2']
random_value_3_loc = df.loc[:, 'Random value 3']
print("Using loc[] method - 'Random value 2':\n", random_value_2_loc)
print("\nUsing loc[] method - 'Random value 3':\n", random_value_3_loc)
# Using index location method
random_value_2_iloc = df.iloc[:, 1]
random_value_3_iloc = df.iloc[:, 2]
print("\nUsing iloc[] method - 'Random value 2':\n", random_value_2_iloc)
print("\nUsing iloc[] method - 'Random value 3':\n", random_value_3_iloc)

Using loc[] method - 'Random value 2':
 0         NaN
1         NaN
2         NaN
3    0.766855
Name: Random value 2, dtype: float64

Using loc[] method - 'Random value 3':
 0    0.663048
1    0.991751
2         NaN
3    0.933850
Name: Random value 3, dtype: float64

Using iloc[] method - 'Random value 2':
 0         NaN
1         NaN
2         NaN
3    0.766855
Name: Random value 2, dtype: float64

Using iloc[] method - 'Random value 3':
 0    0.663048
1    0.991751
2         NaN
3    0.933850
Name: Random value 3, dtype: float64

In [6]:
#GIT link: https://github.com/parnachaudhury/AI-ML/blob/main/AI%20ML%20Assignment-1.ipynb